@import "../../styles/colors";
@import "../../styles/base";

.mqtt-item {
  font-size: 80%;
  margin-bottom: 2px;
  border-radius: 5px;
  max-width: 100%;
  text-align: left;
  @include clearfix();
  .right {
    float: right;
    margin-top: 1px;
  }
  .topic {
    color: $topic-fg-color;
    margin-top: 4px;
    margin-right: 8px;
    line-height: 1;
    font-size: 80%;
    display: none;
    overflow: hidden;
    @media(min-width: $bp-sm) {
      display: inline-block;
      font-size: 80%;
      width: 200px;
    }
    @media(min-width: $bp-md) {
      margin-top: 1px;
      width: 200px;
      font-size: 90%;
    }
    @media(min-width: $bp-lg) {
      margin-top: 1px;
      width: 210px;
      font-size: 100%;
    }
  }
  .date {
    display: inline-block;
    color: $date-fg-color;
    width: 66px;
    font-size: 80%;
    margin: 2px 0px 0px 5px;
    @media(min-width: $bp-md) {
      width: 85px;
      font-size: 100%;
    }
  }
  .nitems {
    display: none;
    @media(min-width: $bp-md) {
      display: inline-block;
      width: 30px;
    }
    font-weight: bold;
    text-align: right;
    margin-right: 8px;
  }
  .type {
    display: inline-block;
    vertical-align: top;
    font-size: 100%;
    padding: 3px 8px 2px;
    border-radius: 5px;
    margin-left: 8px;
    &.error {
      background-color: red;
    }
  }
  .card {
    border-radius: 5px;
  }
  .payload {
    margin: 4px 0 0 5px;
    overflow: hidden;
  }

  .short {
    margin-left: 5px;
  }
  .card.pretty {
    .payload {
      display: none;
    }
    &.expand {
     .payload {
       display: block;
     }
    }
    overflow-y: hidden;
    .short {
      display: block;
      margin-top: 2px;
      @media(min-width: $bp-md) {
        display: inline-block;
      }
      letter-spacing: -.02rem;
    }
    .payload {
      margin-top: 0;
      @media(min-width: $bp-md) {
        margin: 0px;
      }
    }
    .left {
      pre {
        display: inline-block;
      }
    }
    &.config {
      .left,
      pre {
        float: none;
      }
    }
  }
  .clientId {
    display: block;
    vertical-align: top;
    width: 75px;
    font-size: 90%;
    margin: 0px 0px 0 0px;
    padding: 2px 0 2px;
    text-align: center;
    border-radius: 5px;
    font-size: 100%;
    @media(min-width: $bp-md) {
      display:inline-block;
      width: 86px;
    }
  }
}