@import "../../styles/base";
@import "../../styles/colors";

.mqtt-panel {
  h2 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  .filters {
    padding: 0 0 10px 10px;
    font-size:90%;
    display: none;
    width: 150px;
    @media(min-width: $bp-md) {
      display: block;
    }
  }
  .mqtt-display {
//  width: calc(100% - 170px);
  }
  header {
    width: 100%;
  }
  .content {
    display: flex;
    width: 100%;
  }
  .nitems {
    font-weight: bold;
    margin: -20px 0 0 10px;
  }

  .mqtt-display {
    display: inline;
    width: 100%;
    @media(min-width: $bp-md) {
      width: calc(100% - 138px);
    }
    .mqtt-list {
      height: calc(100vh - 146px);
  //  max-height: 800px;
      overflow-y: auto;
    }
  }
}