@import "../../styles/base";
@import "../../styles/colors";

.mqtt-panel {
  h2 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  header {
    width: 100%;
  }
  .content {
    display: flex;
    width: 100%;
  }
  .nitems {
    font-weight: bold;
    margin: -35px 0 0 18px;
  }

  .mqtt-display {
    display: block;
    .mqtt-list {
      margin-top: 20px;
      height: calc(100vh - 146px);
      overflow-y: auto;
    }
  }

  .filter-buttons {
    display: inline-block;
    background: #234;
    margin-right: 240px;
    margin-top: -5px;
    float: right;
    padding: 4px 10px;
    border-radius: 5px;
    .filters-label {
      display: inline-block;
      padding-top: 2px;
      font-size: 110%;
      margin-right: 6px;
    }
    .chakra-button {
      color: white;
      background-color: #358;
      margin-left: 10px;
      border: #556699 solid 2px;
      border-right: #334477 solid 2px;
      border-bottom: #334477 solid 2px;
    }
  }
  .clear {
    margin: 0 30px;
  }
  .filters {
    background: #225;
    border-radius: 7px;
    border: #8899cc solid 3px;
    position: fixed;
    top: 110px;
    padding: 0 10px;
    h3 {
      margin: 8px 0;
    }
  }
  .actions {
    margin-left: 75px;
  }
}

.mqtt-display-actions {
  display: inline-block;
  width: 100%;
  .buttons {
    margin-top: 15px;
    .button {
      width: 100px;
    }
  }
}