@import "../../styles/base";
@import "../../styles/colors";

.mqtt-panel {
  h2 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  .filters {
  }
  .mqtt-display {
//  width: calc(100% - 170px);
  }
  header {
    width: 100%;
  }
  .content {
    display: flex;
    width: 100%;
  }
  .nitems {
    font-weight: bold;
    margin: -20px 0 0 10px;
  }

  .mqtt-display {
    display: inline-block;
    .mqtt-list {
      height: calc(100vh - 146px);
  //  max-height: 800px;
      overflow-y: auto;
    }
  }

  .filter-buttons {
    display: inline-block;
    background: #333;
    margin-right: 20px;
    float: right;
//  height: 40px;
    padding: 3px 10px;
    border-radius: 5px;
    .filters-label {
      display: inline-block;
      padding-top: 2px;
      font-size: 110%;
    }
    .show-source-filter {
      margin-left: 10px;
    }
    .show-clients-filter {
      margin-left: 10px;
    }
  }
  .clear {
    margin: 0 30px;
  }
  .filters {
    background: #333;
    border-radius: 5px;
    border: #64d solid 4px;
    position: fixed;
    top: 110px;
    padding: 0 10px;
    h3 {
      margin: 8px 0;
    }
  }
  .actions {
    margin-left: 75px;
  }
}

.mqtt-display-actions {
  display: inline-block;
  width: 100%;
  .buttons {
    margin-top: 15px;
    .button {
      width: 100px;
    }
  }
}