@import "../../styles/colors";
@import "../../styles/base";

.mqtt-filter-client {
  display: none;
  margin: 0;
  right: 10px;
  width: 307px;

  &.show {
    display: block;
  }

  h3 {
    margin-bottom: 3px;
    font-size: 130%;
    color: $title2-fg-color;
  }

  .client-list {
    padding: 0 0;
    .all {
      padding-bottom: 10px;
    }
  }

  .clients {
    background: $bg1-color;
    border-radius: 8px;
    &.all-selected {
      background: lighten($bg1-color, 10%);
    }
  }

  .administrator {
  }

  input:checked {
    background: #555;
  }
}