@import "../../styles/colors";
@import "../../styles/base";

.mqtt-filter-source {
  display: none;
  margin: 0;
  width: 160px;
  right: 305px;

  &.show {
    display: block;
  }

  h3 {
    margin-bottom: 3px;
    font-size: 130%;
    color: $title2-fg-color;
  }

  .select {
    padding: 6px;
    background: $bg1-color;
    border-radius: 8px;
    width: 100%;
    &.all-selected {
      background: lighten($bg1-color, 10%);
      input:checked {
        background: #555;
      }
    }
  }
}