@import "../../styles/colors";
@import "../../styles/base";

.mqtt-display-actions {
  display: inline-block;
  width: 100%;
  .buttons {
    float: right;
    margin-top: 15px;
    .button {
      margin-left: 20px;
    }
    .button {
      width: 100px;
    }
  }
}