@import "../../styles/base";
@import "../../styles/colors";

.client {
  border-radius: 6px;
  margin-bottom: 2px;

  padding-left: 6px;
  input {
    margin-top: 5px;
  }
  label {
    margin-left: .5em;
  }
  @include clearfix;

  .clientName {
    display: inline-block;
    width: 105px;
    margin-left: 10px;
  }

  .chakra-button {
    color: $fg-color;
    border-radius: 5px;
    background-color: $button-bg-color;
    border: $button-bd-color solid 1px;
    border-right: $button-bd2-color;
    border-bottom: $button-bd2-color;
    padding: 2px 5px;
    margin: -1px 3px;
    font-size: 75%;
  }

  .enabled {
    &.true {
      background-color: $button-green-color;
    }

    &.false {
      background-color: $button-red-color;
    }
  }

  .status {
    &.running {
      background-color: $button-green-color;
    }
    &.stopped {
      background-color: $button-red-color;
    }
  }
  .debug-level-wrapper {
    display: inline-block;
    width: 30px;
    text-align: right;
    .chakra-select__icon-wrapper {
      display: none;
    }
  }
  .chakra-select {
    display: inline;
    font-size: 75%;
    font-weight: bold;
    color: $fg-color;
    background: $button-bg-color;
    border: $button-bd-color solid 1px;
    border-right: $button-bd2-color;
    border-bottom: $button-bd2-color;
    padding: 2px 3px;
    border-radius: 5px;
    margin-left: 4px;
    height: auto;
  }

  &.administrator,
  &.drupal,
  &.controller0
  &.hmi-mqtt,
  &.hmi-mqtt-tst,
  &.hmi-sl,
  &.hmi-cb,
  &.hmi-oxy,
  &.hmi {
    .status {
      margin-left: 28px;
    }
  }

}