@import "../styles/colors";
@import "../styles/base";

.page {
  padding: 0 5px;
  width: 100%;
  max-width: 100%;

  //.oxy-flex {
  //  @media(max-width: $bp-md) {
  //    display: block;
  //  }
  //}
  .left-col {
    flex-basis: 50%;
    max-width: 700px;
    padding: 0 0 0 10px;
  }
  .right-col {
    flex-grow: 3;
    overflow: auto;
  }
  .mqtt-display {
    margin: 0;
  }
  .loading {
    height: 200px;
  }
}