@import "../../styles/base";
@import "../../styles/colors";

#msg-panel {
  background: $bg1-color;
  padding: 0 10px 10px;
  margin: 0 10px;
  width: 30%;

  .msg-pane {
    margin-top: 10px;
  }

  .msg-submit {
    background: #888;
    color: #fff;
    float: right;
  }

  .msg {
    padding: 3px 6px;
    font-size: 80%;
    width: calc(100% - 14px);
    background: #555;
    color: $fg-color;
    height: 1rem;
  }

  .msg-list-container {
    .msg-list {
      width: 100%;
      height: 160px;
      background: #555;
    }
  }

}