@import "../../styles/base";
@import "../../styles/colors";

#msg-panel {
  background: $bg1-color;
  margin: 0 0px;
  border-radius: 5px;
  @media(min-width: $bp-md) {
    padding: 0 10px;
    margin-left: 10px;
  }

  .Notes {
    border-top-width: 0;
  }
  .Notify {
    border-bottom-width: 0;
  }

  .msg-item {
    margin-bottom: 5px;
    .header {
      color: $msg-header-fg-color;
      font-size: 65%;
      margin-bottom: 2px;
    }
    .msg-text {
      overflow-wrap: break-word;
      font-size: 90%;
      line-height: 1.3;
      div {
        min-width: 1px;
      }
    }
  }
}