@import "../../styles/base";
@import "../../styles/colors";

#msg-panel {
  background: $bg1-color;
  margin: 0 0px;
  @media(min-width: $bp-md) {
    padding: 0 10px 10px;
    margin-left: 10px;
  }

  .msg-pane {
    margin-top: 10px;
  }

  .msg-submit {
    background: $button-bg-color;
    color: $button-fg-color;
    border-radius: 3px;
    border: $button-bd-color solid 1px;
    border-right: $button-bd2-color;
    border-bottom: $button-bd2-color;
    float: right;
    margin-top: 2px;
    font-size: 84%;
    padding: 2px 8px;
  }

  .msg {
    padding: 3px 6px;
    width: calc(100% - 4px);
    background: #555;
    color: $fg-color;
    height: 1rem;
    border-radius: 3px;
    resize: vertical;
  }

  .msg-list-container {
    .msg-list {
      padding: 2px 5px;
      border-radius: 3px;
      width: 100%;
      height: 160px;
      background: #555;
      overflow-y: auto;
      resize: vertical;
    }
  }
  .msg-item {
    width: 100%;
    margin-bottom: 5px;
    .header {
      color: $msg-header-fg-color;
      font-size: 75%;
      margin-bottom: 2px;
    }
    .msg-text {
      overflow-wrap: break-word;
      font-size: 90%;
      div {
        min-width: 1px;
      }
    }
  }

}