@import "../../styles/colors";
@import "../../styles/base";

.mqtt-item {
  font-size: 80%;
  .right {
    float: right;
    margin-top: 1px;
  }
  .topic {
    color: $topic-fg-color;
    margin-top: 3px;
    margin-right: 10px;
    font-size: 80%;
    display: inline-block;
    display: none;
    @media(min-width: $bp-sm) {
      display: inline-block;
      font-size: 80%;
      width: 150px;
    }
    @media(min-width: $bp-md) {
      margin-top: 1px;
      width: 170px;
      font-size: 90%;
    }
    @media(min-width: $bp-lg) {
      margin-top: 1px;
      width: 210px;
      font-size: 100%;
    }
  }
  .type {
    font-size: 90%;
    margin-right: 1rem;
  }
  .date {
    float: right;
    display: inline-block;
    color: $date-fg-color;
    width: 66px;
    font-size: 80%;
    margin: 2px 0px 0px 10px;
    @media(min-width: $bp-md) {
      width: 90px;
      margin-top: 0;
      font-size: 100%;
    }
  }
  .nitems {
    display: none;
    float: right;
    @media(min-width: $bp-lg) {
      display: inline-block;
      width: 30px;
    }
    font-weight: bold;
    text-align: right;
  }
  pre {
    margin: 4px 0 0;
  }
  .type {
    display: inline-block;
    padding: 4px 8px 1px;
    border-radius: 5px;
    margin-right: 8px;
  }
  .card.pretty {
    .short {
      display: block;
      @media(min-width: $bp-md) {
        display: inline-block;
      }
      letter-spacing: -.02rem;
    }
    .payload {
      margin-top: 0;
      pre {
        @media(min-width: $bp-md) {
          margin: 0px;
        }
      }
    }
    .left {
      pre {
        display: inline-block;
      }
    }
    &.config {
      .left,
      pre {
        float: none;
      }
    }
  }
  .clientId {
    display: block;
    width: 75px;
    font-size: 90%;
    margin: 0px 8px 0 -6px;
    padding: 3px 0 2px;
    text-align: center;
    border-radius: 5px;
      font-size: 100%;
      @media(min-width: $bp-md) {
      display:inline-block;
      width: 86px;
    }
  }
}