@import "../../styles/colors";
@import "../../styles/base";

.mqtt-display {
  display: inline;
  width: calc(100% - 138px);
  .mqtt-list {
    height: calc(100vh - 146px);
//  max-height: 800px;
    overflow-y: auto;
  }
}