@import "../../styles/colors";
@import "../../styles/base";

.select-pretty {
  display: inline-block;
  select {
    text-align: center;
    color: $button-fg-color;
    background-color: #358;
    border: $button-bd-color solid $button-bd-width;
    border-right: $button-bd2-color solid $button-bd-width;
    border-bottom: $button-bd2-color solid $button-bd-width;
    border-radius: $button-bd-radius;
    font-weight: bold;
    padding: 5px 2px;
  }
}