@import "../../styles/base";
@import "../../styles/colors";

.control-widget {
  padding: .1vw .7vw;
  &.absolute {
    position: absolute;
  }
//transform: translate(-50%, -50%);
  border: 1px solid $input-bd-color;
  margin: .3vw;
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  h3 {
    color: white;
    font-size: 1vw;
    margin: 2px 0;
  }
  .metric {
    font-weight: bold;
//  padding: 3px 6px;
//  font-size: 1vw;
    color: $metric-fg-color;
  }
  button {
    text-align: left;
  }
  .control-metric {
    width: 12vw;
    .right {
      float: right;
    }
    .metric {
      font-weight: bold;
      font-size: 1vw;
      color: $metric-fg-color;
      padding-top: 3px;
      border-radius: 3px;
      &.upper {
        background-color: #a00;
      }
      &.lower {
        background-color: #00f;
      }
      &.low,
      &.high {
        background-color: #70a
      }
    }
  }
}


/*
.control-metrics {
  display: inline-block;
  border: 1px solid white;
  width: 50px;
  margin: 0 8px;
  padding: 2px;
  border-radius: 4px;
  //vertical-align: middle;
  text-align: center;
  //float: left;
}
 */