@import "../../styles/base";
@import "../../styles/colors";

.control-image-panel {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;

  h3 {
    color: $title2-fg-color;
    width: 100%;
    font-weight: 400;
    padding: .5vw;
    z-index: 2;
  }

  .controls {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .control-value {
    position: absolute;
    padding: 1px 3px;
    border-radius: 4px;
    line-height: 1.2;
    .Metric {
      width: 5.5vw;
      text-align: right;
      padding: 0 5px;
      font-size: 1.65vw;
    }
  }
  img.bg-image {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
//  z-index: 0;
  }
}