@import "../../styles/base";
@import "../../styles/colors";
.metric-slider {
  display: inline-block;
  width: 100%;
  label {
    display: inline-block;
  }
  .value {
    display: inline-block;
    vertical-align: top;
    margin-top: 7px;
    margin-left: 10px;
    text-align: right;
    border-radius: 4px;
  }

  .slider-box {
    margin: 0 .8vw;
    font-size: .9vw;
    width: 20.5vw;
  }
  .number {
    height: 3vw
//  margin-right: 20px;
  }
  .chakra-slider__thumb {
    font-size: 1.2vw;
    height: 2vw;
    width: 3vw;
  }
}
