@import "../../styles/base";
@import "../../styles/colors";

.metric-value {
  position: absolute;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  margin: .5vmin;
  padding: .3vmin .5vmin;
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  h3 {
    font-size: 100%;
    margin: 8px 0 4px;
  }
  .metric {
    font-size: 60%;
    font-weight: bold;
    font-size: 1.5vmin;
    color: $metric-fg-color;
  }
  .trigger {
    width: 65px;
    height: 25px;
  }
}