@import "../../styles/base";
@import "../../styles/colors";

.control-button {
  display: inline-block;
  float:right;
  &.reset {
    @media(min-width: $bp-md) {
      margin-left: 20px;
    }
  }
  &.onboard {
    margin-left: 10px;
  }
  button {
    color: $button-fg-color;
    background-color: $button-bg-color;
    padding: 5px 12px;
    border-radius: 3px;
    font-size: 70%;
    &.on {
      background-color: darken($button-bg-color, 20%);
    }
    @media(min-width: $bp-sm) {
      font-size: 85%;
    }
    @media(min-width: $bp-md) {
      font-size: 100%;
    }
  }
  &.red button {
   background-color: #880000;
   &.on {
     background-color: #ee5555;
   }
  }
  &.green button {
    background-color: #006600;
    &.on {
      background-color: #55dd55;
    }
  }
  &.blue button {
    background-color: #000088;
    &.on {
      background-color: #6688ff;
    }
  }
}