$bg-color: #111133;
$bg1-color: #332266;
$fg-color: #f0fff0;
$button-fg-color: #ffffff;
$button-bg-color: #5500cc;

.mqtt-func-bg {
  // MQTT Message function
  .Activity, .act    { background-color: #c60; }
  .Alarm,    .alm    { background-color: #911; }
  .Input,    .inp    { background-color: #228; }
  .Output,   .out    { background-color: #082; }
  .Code,     .cod    { background-color: #111; }
  .Human,    .hum    { background-color: #962; }
  .Command,  .cmd    { background-color: #777; }
  .Response, .rsp    { background-color: #90c; }
  .Message,  .msg    { background-color: #2aa; }
}

.mqtt-client-bg {
  // MQTT message client
  .riolc         { background-color: #921 }
  .epiclc        { background-color: #52a; }
  .arduino2      { background-color: #050; }
  .arduino3      { background-color: #080 }
  .arduino4      { background-color: #029 }
  .arduino5      { background-color: #04e }
  .player        { background-color: #a51; }
  .labtime       { background-color: #719; }
  .administrator { background-color: #630; }
  .mqtt_sim      { background-color: #666; }
}

.difference-grey-bg   { background-color: #666; }
.difference-red-bg    { background-color: #a34; }
.difference-orange-bg { background-color: #d70; }
.difference-green-bg  { background-color: #0a0; }
.difference-cyan-bg   { background-color: #46f; }
.difference-blue-bg   { background-color: #20c; }
