// @import "styles/colors.scss";

$fg-color: #f0fcf0;
$topic-fg-color: #fc2;
$date-fg-color: #ff4;
$title-fg-color: #ddff88;
$title2-fg-color: #aaffdd;

$bg-color: #101010;
$bg1-color: #202020;

$input-fg-color: #ff8;
$input-bd-color: #593cb3;
$input-bg-color: #001b54;

$button-fg-color: $fg-color;
$button-bg-color: #445588;
$button-bd-color: #6677aa;
$button-bd2-color: #334477;
$button-green-color: #007722;
$button-red-color: #bb2200;
$button-grey-color: #444444;
$button-bd-width: 2px;
$button-bd-radius: 5px;

$table-head-bg-color: #125;
$table-bd-color: #345;
$table-odd-bg-color: #245;
$table-even-bg-color: #36a;

$stat-fg-color: #ccff33;

.mqtt-func-bg {
  // MQTT Message function
  .Activity, .act    { background-color: #420; }
  .Alarm,    .alm    { background-color: #600; }
  .Input,    .inp    { background-color: #118; }
  .Output,   .out    { background-color: #040; }
  .Code,     .cod    { background-color: #000; }
  .Human,    .hum    { background-color: #830; }
  .Command,  .cmd    { background-color: #333; }
  .Response, .rsp    { background-color: #215; }
  .Message,  .msg    { background-color: #033; }
}

.mqtt-client-bg {
  // MQTT message client
  .riolc         { background-color: #700 }
  .epiclc        { background-color: #40e; }
  .arduino2      { background-color: #073; }
  .arduino3      { background-color: #040 }
  .arduino4      { background-color: #04f }
  .arduino5      { background-color: #00b }
  .player        { background-color: #a51; }
  .labtime       { background-color: #930; }
  .administrator { background-color: #530; }
  .mqtt_sim      { background-color: #666; }
}

.difference-grey-bg   { background-color: #666; }
.difference-red-bg    { background-color: #a34; }
.difference-orange-bg { background-color: #d70; }
.difference-green-bg  { background-color: #0a0; }
.difference-cyan-bg   { background-color: #46f; }
.difference-blue-bg   { background-color: #20c; }