// @import "styles/colors.scss";
$fg-color: #f0f0ff;
$topic-fg-color: #fd9;
$date-fg-color: #ee0;
$title-fg-color: #ddff88;
$title2-fg-color: #88ffaa;

$header-nav-bg-color: #113344;
$header-nav-fg-color: #88ffaa;

$msg-header-fg-color: #99ffff;

$strong-fg-color: #77ffaa;

$bg-color: #101010;
$bg1-color: #131014;
$bg2-color: #202020;
$bg3-color: #402040;

$link-color: #77bbff;

$input-fg-color: $fg-color;
$input-bd-color: #593cb3;
$input-bg-color: #113333;

$button-fg-color: $fg-color;
$button-bg-color: #4455cc;
$button-bd-color: #556699;
$button-bd2-color: #334477;
$button-green-color: #119911;
$button-red-color: #aa2222;
$button-grey-color: #333;
$button-bd-width: 2px;
$button-bd-radius: 5px;

$table-head-bg-color: #125;
$table-bd-color: #345;
$table-odd-bg-color: #245;
$table-even-bg-color: #36a;

$metric-fg-color: #ffffff;

:root {
   /**
   * Gray colors.
   * Color number roughly corresponds to its luminosity.

   */
  --color--gray-hue: 220;
  --color--gray-saturation: 30%;
  --color--gray-5: hsl(var(--color--gray-hue), var(--color--gray-saturation), 5%); /* Black */
  --color--gray-10: hsl(var(--color--gray-hue), var(--color--gray-saturation), 11%);
  --color--gray-20: hsl(var(--color--gray-hue), var(--color--gray-saturation), 20%); /* Black 2 */
  --color--gray-45: hsl(var(--color--gray-hue), var(--color--gray-saturation), 44%); /* Gray Dark */
  --color--gray-60: hsl(var(--color--gray-hue), var(--color--gray-saturation), 57%); /* Gray medium */
  --color--gray-65: hsl(var(--color--gray-hue), var(--color--gray-saturation), 63%); /* Black 4 */
  --color--gray-70: hsl(var(--color--gray-hue), var(--color--gray-saturation), 72%); /* Gray medium 2 */
  --color--gray-90: hsl(var(--color--gray-hue), var(--color--gray-saturation), 88%); /* Gray light */
  --color--gray-95: hsl(var(--color--gray-hue), var(--color--gray-saturation), 93%); /* Gray light 1 */
  --color--gray-100: hsl(var(--color--gray-hue), var(--color--gray-saturation), 97%); /* Gray light 2 */

   /**
   * Primary colors.
   * Color number roughly corresponds to its luminosity.
   */
  --color--primary-hue: 250;
  --color--primary-saturation: 90%;
  --color--primary-lightness: 50;
  --color--primary-20: hsl(var(--color--primary-hue), var(--color--primary-saturation), calc(1% * (var(--color--primary-lightness) - (0.47 * var(--color--primary-lightness)))));
  --color--primary-30: hsl(var(--color--primary-hue), var(--color--primary-saturation), calc(1% * (var(--color--primary-lightness) - (0.36 * var(--color--primary-lightness)))));
  --color--primary-40: hsl(var(--color--primary-hue), var(--color--primary-saturation), calc(1% * (var(--color--primary-lightness) - (0.24 * var(--color--primary-lightness))))); /* Blue dark */
  --color--primary-50: hsl(var(--color--primary-hue), var(--color--primary-saturation), calc(1% * var(--color--primary-lightness))); /* Blue medium */
  --color--primary-60: hsl(var(--color--primary-hue), var(--color--primary-saturation), calc(1% * (var(--color--primary-lightness) + (0.24 * (100 - var(--color--primary-lightness)))))); /* Blue bright */
  --color--primary-80: hsl(var(--color--primary-hue), var(--color--primary-saturation), calc(1% * (var(--color--primary-lightness) + (0.85 * (100 - var(--color--primary-lightness)))))); /* Blue very bright */

  /**
   * Variables specific to text.
   */
  --color-text-neutral-soft: var(--color--gray-60);
  --color-text-neutral-medium: var(--color--gray-90);
  --color-text-neutral-loud: var(--color--gray-100);

  --color-text-primary-medium: var(--color--primary-80);
  --color-text-primary-loud: var(--color--primary-60);

  --tabs-text-color: var(--color--primary-20);
  --tabs-background-color: var(--color--primary-80);
}

.mqtt-clientId-bg {
  // MQTT message client
  .all             { background-color: #333; }
  .administrator   { background-color: #a70; }
  .drupal          { background-color: #478; }
  .logger          { background-color: #59a; }
  .hmi-mqtt        { background-color: #632; }
  .hmi-mqtt-tst    { background-color: #632; }
  .hmi-cb          { background-color: #843; }
  .hmi-oxy         { background-color: #a54; }
  .hmi-sl          { background-color: #c65; }
  .hmi-js          { background-color: #c65; }
  .hmi-lab         { background-color: #e85; }
  .arduino1        { background-color: #040; }
  .arduino2        { background-color: #062; }
  .arduino3        { background-color: #084; }
  .arduino4        { background-color: #0a6; }
  .arduino5        { background-color: #019; }
  .arduino6        { background-color: #03a; }
  .arduino7        { background-color: #05c; }
  .arduino8        { background-color: #07e; }
  .arduino_gm      { background-color: #509; }
  .epiclc          { background-color: #60b; }
  .rio1            { background-color: #70d; }
  .controller-cb   { background-color: #611; }
  .controller-oxy  { background-color: #822; }
  .controller-sl   { background-color: #a33; }
  .saphira         { background-color: #a28 }

  .ckmosq          { background-color: #555; }
//.hmi           { background-color: #941; }
}

.card {
  .type {
    &.debug        { background-color: #099; }
  }
}

.mqtt-action-bg {
  // MQTT Message function
  .all                { background-color: #333; }
  .Activity,  .act    { background-color: #632; }
  .Alarm,     .alm    { background-color: #b40 }
  .Input,     .inp    { background-color: #14a; }
  .Output,    .out    { background-color: #48e; }
  .Human,     .hum    { background-color: #a66a2a; }
  .LowerRange,.low    { background-color: #680; }
  .HighRange, .high   { background-color: #8a0}
  .LowerAlarm,.lower  { background-color: #800 }
  .UpperAlarm,.upper  { background-color: #b00; }
  .Command,   .cmd    { background-color: #539; }
  .Response,  .rsp    { background-color: #74a; }
  .Get,       .get    { background-color: #252; }
  .Send,      .snd    { background-color: #292; }
  .Code,      .cod    { background-color: #333; }
  .Message,   .msg    { background-color: #087; }
  .System,    .sys    { background-color: #666; }

  // Code sub categories
  .Debug, debug      { background-color: #72c; }
  .Error             { background-color: #d22; }

  // Message sub categories
  .Notes             { background-color: #06a; }
  .Notify            { background-color: #00f; }
  .Chat              { background-color: #0a0; }
  .Questions         { background-color: #72c; }
  .warning           { background-color: #d70; }
  .System            { background-color: #a0f; }
}

.mqtt-status {
  &.connecting        { background-color: #922; }
  &.connected         { background-color: #080; }
  &.message           { background-color: #26f; }
  &.publish           { background-color: #a5f; }
  &.reconnect         { background-color: #c42; }
  &.close             { background-color: #ea0; }
  &.offline           { background-color: #630; }
  &.error             { background-color: #c00; }
}


/*
.difference-grey-bg   { background-color: #666; }
.difference-red-bg    { background-color: #a34; }
.difference-orange-bg { background-color: #d70; }
.difference-green-bg  { background-color: #0a0; }
.difference-cyan-bg   { background-color: #46f; }
.difference-blue-bg   { background-color: #20c; }
 */
