@import "../../styles/base";
@import "../../styles/colors";

.button {
  display: inline-block;
  background: $button-bg-color;
  color: $button-fg-color;
  border-color: $button-bd-color;
  padding: 2px 8px;
  font-size: 110%;
  border-radius: 6px;
}
